.contenedor-footer{
    display: flex;
    flex-direction: column;
    background-color: #E8E8E8;
    justify-content: center;
}

.contenedor-titulo-footer{
    padding-top: 40px;
    text-align: center;
    font-family: 'tipografia-titulos';
    font-size: 30px;
}

.cuento-img-1{
    width: 100%;
    margin-bottom: -10px;
}