.contenedor-footer{
    height: 952px;
    background-color: #E8E8E8;
}

.cuento-img-1, .cuento-img-2{
    width: 100%;
}

.cuento-img-1{
    position: relative;
}

.cuento-img-2{
    margin-left: -27px;
    margin-top: -720px;
}

.contenedor-titulo-footer{
    background-color: red;
}