.contenedor-hada{
    display: flex;
    background-color: #B5DAEE;
    height: 500px;
    justify-content: center;
}

.hada-gif{
    margin-top: 100px;
    background-color: red;
}

.dialogo{
    display: flex;
    margin-top: 100px;
    height: 50%;
}

.dialogo-contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -100px;
}