.contenedor-hada{
    display: flex;
    background-color: #B5DAEE;
    height: 500px;
    justify-content: center;
}

.contenedor-imagen-hada{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-top: 100px;
}

.contenedor-imagen-dialogo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    width: 50%;
}

.hada-gif{
    height: 450px;
    object-fit: contain;
    margin-left: 300px;
}

.dialogo{
    height: 300px;
    object-fit: contain;
    margin-right: 300px;
}

@media screen and (max-width: 1180px){
    .hada-gif{
        margin-left: 200px;
    }
    
    .dialogo{
        margin-right: 240px;
    }
}

@media screen and (max-width: 820px){
    .hada-gif{
        height: 400px;
        margin-left: 0;
    }
    
    .dialogo{
        height: 250px;
        margin-right: 140px;
    }
}